*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: #3f3f3f;
}

.container {
  padding-left: 12rem;
  padding-right: 12rem;
}

.flex-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav {
  position: fixed;
  height: 140px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

nav .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .logo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

nav .logo a {
  color: #fff;
}

nav .nav-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .contact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

nav .links .link {
  margin-right: 40px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

nav .links .link:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

nav .links .link:hover a {
  color: #ffffff;
}

nav .links .link a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px;
}

nav .links .link:last-child {
  margin-right: 0;
}

nav .contact-btn {
  margin-right: 40px;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

nav .contact-btn:hover {
  color: #00172c;
  background-color: #ffffff;
}

.fixed-top {
  position: fixed;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.06);
}

.fixed-top .logo a {
  color: black;
}

.fixed-top .links .link a {
  color: #5a5a5a;
}

.fixed-top .links .link a:hover {
  color: #5a5a5a;
}

.fixed-top .contact-btn {
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.fixed-top .contact-btn:hover {
  color: white;
  background-color: #3f3f3f;
}

.hero-img {
  height: 100vh;
  width: 100%;
  background: url("../img/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero-img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #03253b;
  opacity: 0.45;
}

.features {
  width: 100%;
}

.features .feature-title {
  padding: 7.8125rem 0;
  border-bottom: 2px solid #ccc;
}

.features .feature-title h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.features .feature-cards {
  margin-top: 6rem;
  padding-bottom: 6rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #ccc;
}

.features .feature-cards .card {
  width: 433px;
  padding: 20px 0px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.features .feature-cards .card h4 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.features .feature-cards .card img {
  margin-bottom: 20px;
}

.features .feature-cards .card p {
  font-size: 16px;
  color: #7c7c7c;
  margin-bottom: 40px;
}

.instagram {
  margin-top: 6rem;
  border-bottom: 2px solid #ccc;
}

.instagram-title h3 {
  padding-top: 6rem;
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 8rem;
  text-align: center;
}

.instagram-gallary {
  margin-bottom: 8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5rem;
      grid-template-areas: 'img-1 img-1 img-2 img-3' 'img-1 img-1 img-4 img-5';
}

.instagram-gallary-photo {
  aspect-ratio: 1;
}

.instagram-gallary-photo img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram-gallary .img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img-1;
}

.instagram-gallary .img-1 img {
  height: 100%;
  width: 100%;
}

.instagram-gallary .img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img-2;
}

.instagram-gallary .img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img-3;
}

.instagram-gallary .img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: img-4;
}

.instagram-gallary .img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: img-5;
}

footer {
  width: 100%;
}

.social-media {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-item {
  color: #909090;
  margin-right: 40px;
}

.social-media-item a {
  font-size: 24px;
  color: #909090;
  -webkit-transition: .35s all ease-in-out;
  transition: .35s all ease-in-out;
}

.social-media-item a:hover {
  color: #272727;
}

.social-media-item:last-child {
  margin-right: 0;
}
