nav {
    position: fixed;
    height: 140px;
    width: 100%;
    align-items: center;
    z-index: 2;
    transition: all .4s ease;

    .container {
        align-items: center;
        // background-color: honeydew;
        flex: 1;
    }

    .logo {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 600;
        
        a {
            color: #fff;
        }
    }

    .nav-content {
        flex: 1;
        // background-color: purple;
    }

    .contact {
        flex: 1;
        // background-color: green;
    }

    .links {
        // background-color: khaki;
        align-items: center;
        margin-left: 60px;

        .link {
            margin-right: 40px;
            transition: all .35s ease-in-out;

            &:hover {
                transform: scale(1.07);
                a {
                    color: #ffffff;
                }
            }
            a {
                text-decoration: none;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                color: #ffffff;
                padding-bottom: 5px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    
    .contact-btn {
        margin-right: 40px;
        border: 1px solid #ffffff;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 4px;
        transition: all .35s ease-in-out;
    
        &:hover {
            color: #00172c;
            background-color: #ffffff;
        }
    }
}

.fixed-top {
    position: fixed;
    height: 70px;
    background-color: white;
    box-shadow: 0 2px 40px 0 rgba($color: #000000, $alpha: 0.06);

    .logo a {
        color: black;
    }

    .links .link a {
        color: #5a5a5a;

        &:hover {
            color: #5a5a5a;
        }
    }

    .contact-btn {
        border: 1px solid #3f3f3f;
        color: #3f3f3f;
        padding: 10px 20px;
        border-radius: 4px;
        transition: all .35s ease-in-out;
        
        &:hover {
            color: white;
            background-color: #3f3f3f;
        }
    }
}
